:root {

    --bg-color      : rgb(50, 0, 80);
    --bg-color-alt  : rgb(120, 0, 190);
    --font-color    : rgb(255, 255, 255);
    
    
}

@font-face {
    font-family: "Audiowide";
    src: url(assets/fonts/audiowide/Audiowide-Regular.ttf);
}
@font-face {
    font-family: "Cascadia";
    src: url(assets/fonts/Cascadia/CascadiaMono.ttf);
}