:root {

    --bg-color      : #000;
    --bg-color-alt  : #330050;
    --font-color    : #fff;
    --border-color  : #6600af;
    
    
}

@font-face {
    font-family: "Audiowide";
    src: url(assets/fonts/audiowide/Audiowide-Regular.ttf);
}
@font-face {
    font-family: "Cascadia";
    src: url(assets/fonts/Cascadia/CascadiaMono.ttf);
}
