html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;    
}

* {
    overflow-x: hidden;

    color: white;
    background-color: var(--bg-color);
    
    font-family: "Audiowide", monospace;
}

body {
    width: 100vw;

    overflow-x: hidden;
    overflow-y: scroll;

    text-align: center;
    justify-content: center;

    

}