html {
    margin: 0;
    padding: 0;    
}

* {
    color: white;
    background-color: var(--bg-color);
    font-family: "Audiowide", monospace;
}

body {
    width: auto;
    justify-content: center;
    text-align: center;
}

.container {
    border-style: solid;
    border-radius: 0.5rem;
    border-color: var(--border-color);
}

.main-header {

    border-style: solid;
    


}


.main-body {
    display: flex;
    justify-content: center;
}