.layout {
  
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / 0.5fr 1fr 0.5fr;
    gap: 8px;
    border: 2px solid;
  }
  
  .header { grid-area: header; border: 2px solid;}
  .leftSide { grid-area: leftSide; border: 2px solid;}
  .body { grid-area: body; border: 2px solid;}
  .rightSide { grid-area: rightSide; border: 2px solid;}
  .footer { grid-area: footer; border: 2px solid;}